<div
  class="
    rounded-md
    border border-gray-300
    bg-white
    overflow-hidden
    max-w-xs
    shadow-lg
    relative
  "
>
  <img
    [src]="character?.name || 'assets/images/notFound.jpg'"
    class="max-h-80 w-auto"
  />
  <div
    class="
      w-full
      h-full
      p-5
      text-white text-3xl text-center
      bg-black
      opacity-0
      absolute
      top-0
      flex
      justify-center
      items-center
      cursor-pointer
      transform
      hover:opacity-80
      duration-300
    "
  >
    <span>{{ character?.name || "No name" }}</span>
  </div>
</div>
